pipeline/ex2.json
{
	"name": "ex2",
	"properties": {
		"activities": [
			{
				"name": "ler parquet",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_gen_parquet",
						"type": "DatasetReference",
						"parameters": {
							"cnome": "parquetfiles",
							"fnome": "*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ler parquet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ler parquet').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "parquet para sql",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_gen_parquet",
									"type": "DatasetReference",
									"parameters": {
										"cnome": "parquetfiles",
										"fnome": {
											"value": "@replace(item().name,'.parquet','')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dfsqltest2_dinamico",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": "SalesLT",
										"tableName": "@replace(item().name,'.parquet','')"
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "adfexercicios"
		},
		"annotations": [],
		"lastPublishTime": "2022-08-04T16:41:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}