pipeline/ex3.json
{
	"name": "ex3",
	"properties": {
		"activities": [
			{
				"name": "lerBD",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT TABLE_SCHEMA, TABLE_NAME\nFROM INFORMATION_SCHEMA.TABLES \n  WHERE TABLE_TYPE='BASE TABLE'\n  and TABLE_SCHEMA = 'SalesLT'\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dfsqltest2_dinamico",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "*",
							"tableName": "*"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "pesquisarBD",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lerBD",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lerBD').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "sql_para_parquet",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "dfsqltest2_dinamico",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": {
											"value": "@item().TABLE_SCHEMA",
											"type": "Expression"
										},
										"tableName": "@item().TABLE_NAME"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_gen_parquet",
									"type": "DatasetReference",
									"parameters": {
										"cnome": "parquetfiles/TABELA_SQL/",
										"fnome": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "adfexercicios"
		},
		"annotations": [],
		"lastPublishTime": "2022-08-04T16:55:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}